@media (max-width: 992px) {
  .navbar--bope .container #bs-example-navbar-collapse-1ul .nav-item,
  div#bs-example-navbar-collapse-1 {
    background-color: var(--Black800);
  }
  .news--quick-acess a {
    width: 100%;
  }
  .carousel--airforce, 
  .card--highlights-praca,
  .card--departament {
    margin-bottom: 25px;
  }
  .news--information,
  .news--quick-acess {
    margin-top: 25px;
  }
  .airplane--button {
    top: 85%;
  }
  .card--be-welcome .card-body > div .new--members:nth-child(1) {
    visibility: hidden;
  }
  .card--be-welcome .card-body > div .new--members:nth-child(2) {
    visibility: hidden;
  }
  .navbar--bope .container #bs-example-navbar-collapse-1 ul .nav-item {
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
  }
  ul.dropdown-menu.show {
    text-align: center;
    height:100%;
  }
  .card--departament .card-header h5 {
    font-size:28px;
  }
}

@media (max-width: 475px) {
  .card--be-welcome .card-body > div .new--members,
  .airplane--button,
  .background--animate .background--animate-sophia {
    display: none;
  }

  .card--departament .card-header h5 {
    font-size:21px;
  }
}
